.floww-orderdetails {
  width: 90%;
  margin: auto;
  display: none;
  padding-top: 20px;
}
.floww-orderdetails > div:first-child {
  display: flex;
  justify-content: space-between;
}
.flow-table-details-div {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.flow-table-details-div > div {
  width: 50%;
}
.flow-table-details-div > div > ul {
  list-style-type: disc;
}
.flow-table-details-div > div > ul > li > span {
  font-size: medium;
  font-weight: bold;
}
.flow-table-details-div > div > ul > li > ul {
  list-style-type: square;
  margin-left: 30px;
}
.flow-table-details-div > div > ul > li > ul > li > span {
  font-weight: bold;
}
