.floww-orderdetails {
  width: 90%;
  margin: auto;
  display: none;
  padding-top: 20px;
}
.floww-orderdetails > div:first-child {
  display: flex;
  justify-content: space-between;
}
.flow-table-details-div {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.flow-table-details-div > div {
  width: 50%;
}
.flow-table-details-div > div > ul {
  list-style-type: disc;
}
.flow-table-details-div > div > ul > li > span {
  font-size: medium;
  font-weight: bold;
}
.flow-table-details-div > div > ul > li > ul {
  list-style-type: square;
  margin-left: 30px;
}
.flow-table-details-div > div > ul > li > ul > li > span {
  font-weight: bold;
}
.floww-transport-table-row {
  cursor: pointer;
}
.floww-order-status-enroute {
  background-color: yellow;
  color: black;
  text-transform: capitalize;
}
.floww-order-status-delivered {
  background-color: green;
  color: white;
  text-transform: capitalize;
}
.floww-order-status-assigned {
  background-color: orange;
  color: white;
  text-transform: capitalize;
}
.detail-page-ul{
  list-style-type:disc ;
}
.detail-page-ul>li>input{
  border: none;
  outline: none;
  font-size: large;
}
.detail-page-ul-input{
  border: none;
  outline: none;
  font-size: large;
  text-align: center;
}
.row-detals-label{
  text-transform: capitalize;
  font-weight: bold;
  font-size: large;
}
.floww-details-form{
  width: 100%;
  display: flex;
  justify-content: center;
}
.floww-details-form>ul{
  width: 50%;
}
.delivery-agent-list-table{
  width:90%;
  border-collapse: collapse;
  border: 1px solid;
  text-align: center;
}
.delivery-agent-list-table>thead>tr{
  border: 1px solid;
}
.delivery-agent-list-table>thead>tr>td{
  border: 1px solid;
  font-weight: bold;
}
.delivery-agent-list-table>tbody>tr{
  border: 1px solid;
}
.delivery-agent-list-table>tbody>tr>td{
  border: 1px solid;
}